<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">Gestor de clientes</h1>
            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="obtenerClientes" >Cargar Clientes</button>

            <input type="text" id="nombre" placeholder="Nombre" value="{{nombre::input}}"/>
            <input type="text" id="apellido" placeholder="Apellido" value="{{apellido::input}}"/> 

            <button class="col-xs-12 col-lg-4 btn btn-info" on-click="createSimgleCliente" >Resgistro Cliente</button>

        </div>
        <div class="row">
            <table class="table table-striped">
                <tbody>
                    <template is="dom-repeat" items="{{clientes}}">
                        <tr>
                            <td>[[item.idCliente]]</td>
                            <td>[[item.nombre]]</td>
                            <td>[[item.apellido]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  
  <script>
    /**
    * databinding corchetes dobles en una sola direccion
    *dobe direccion es con doble llave
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          },nombre: {
            type: String,
          },apellido: {
            type: String,
          }
        };
      }

      obtenerClientes(){

        let request= new XMLHttpRequest();
        const url = "http://localhost:3002/V01/Clientes";
        request.open('GET',url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
                
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        console.table(this.clientes);
      }

      createSimgleCliente(){

        let request= new XMLHttpRequest();
        const url = "http://localhost:3002/V01/Clientes";
        
        let newId = Math.floor(Math.random() * 99.99);

        request.open('POST',url, false); /*Agregar*/

        console.log(`Hola url ${url}`);

        var data = JSON.stringify({
             "idCliente":newId,
             "nombre":this.nombre,
             "apellido":this.apellido
            });

          console.log(request);        

        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');
 
        request.send(data);
            
      }


    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
